
header {
  background: #16afe5;
  color: white;
  padding: 0 20px;
}

header .container {
  padding: 15px 10px;
}

header h1 {
  margin: 0;
  padding: 0;
  color: rgba(255,255,255,.9);
  font-size: 28px;
  position: relative;
  top: 2px;
  display: inline-block;
}

.details time, .details edit {
  margin-bottom: 3px;
  display: block;
}

time, edit {
  color: #2581B7;
}

.details time:before {
  content: "\f017";
  font-family: FontAwesome;
  margin-right: 6px;
}

edit:before {
  content: "\f040";
  font-family: FontAwesome;
  margin-right: 6px;
}

#markdown-toc {
  border-top:1px solid #CDCDCD;
  border-bottom:1px solid #CDCDCD;
  padding-top: 15px;
}

#markdown-toc:before {
  content: "Table of Contents";
  margin-left: -32px;
  font-size:18pt;
}

pre, code, pre code {
    border: none;
    border-radius: 0;
    background-color: #f9f9f9;
    font-size: 0.85em;
}

pre {
    font-size: 1em;
}

code {
    color: inherit;
}

#navigation li.divider{
  border-top:1px solid #CCC;
  margin:0 3em 0 0;
}

.sidebar {
    background-color: #4383bf;
    position: relative;
    height: auto;
    color: #fff;
    font-size: 1.4rem;
    padding: 0;
}

.sidebar-header .moz-logo {
    width: 100%;
    max-width:130px;
}

html.no-js .sidebar .collapsible-content {
  /* The links in the sidebar are crucial to navigating the site.
     * If JS is disabled, we want the links visible at all costs. */
  opacity: 1 !important;
  max-height: none !important;
}
.sidebar {
  position: relative;
  height: auto;
  color: #fff;
  font-size: 1.4rem;
  padding: 0;
}
.sidebar a {
  font-size: inherit;
  color: inherit;
  line-height: 1;
}
.sidebar .collapsible-content {
  transition: all 0.5s ease;
  opacity: 1;
  max-height: 1400px;
  padding-bottom: 1rem;
}
.sidebar .collapsible-content.collapsed {
  opacity: 0;
  max-height: 0;
  padding-bottom: 0;
}
@media screen and (min-width: 600px) {
  .sidebar {
    height: 100%;
    transition: background-color 5ms;
  }
  .sidebar .collapsible-content.collapsed {
    opacity: 1;
    max-height: auto;
  }
}
.sidebar-header {
  position: relative;
  font-size: 2rem;
  /*color: #595a5e;*/
  padding: 1rem 15px;
  overflow: hidden;
}
@media screen and (min-width: 600px) {
  .sidebar-header {
    background-color: rgba(255, 255, 255, 0.3);
  }
}
.sidebar-header a:hover,
.sidebar-header a:focus {
  text-decoration: none;
}`
.sidebar-header .moz-logo {
  width: 100%;
  max-width: 100px;
}
.sidebar-header .glyphicon-menu-hamburger {
  position: absolute;
  right: 1rem;
  top: 2.5rem;
  color: #fff;
  border: none;
  background: transparent;
  padding: 0;
}
.sidebar-header .glyphicon-menu-hamburger:focus {
  color: #e6e6e6;
}
.sidebar-menu {
  padding-bottom: 0;
  margin-bottom: 0;
}
.sidebar-menu a {
  position: relative;
  display: block;
  padding: 2;
  outline: none;
}
.sidebar-menu a:hover,
.sidebar-menu a:focus {
  text-decoration: none;
  background-color: #2e5c87;
  transition: background-color 3ms;
}
.sidebar-menu li.selected {
    background-color: #2e5c87;
}
.sidebar-menu strong {
  display: inline;
  font-weight: 700;
  text-transform: uppercase;
  vertical-align: middle;
  margin-left: 1rem;
}
.sidebar-menu .external-link:after {
  color: rgba(255, 255, 255, 0.5);
}
.sidebar-menu .glyphicon {
  position: absolute;
  right: 1rem;
  font-size: 1.5rem;
  top: calc(41.5%);
  color: #cd00cc;
  transition: color 3ms;
  visibility: hidden;
}
.sidebar-menu li {
  margin:0;
  padding: 0;
}
.sidebar-menu>li>a{
  padding: 15px;
}
@media screen and (min-width: 800px) {
  .sidebar-menu .glyphicon {
    right: 1.5rem;
  }
}
@media screen and (min-width: 600px) {
  .sidebar-menu .glyphicon {
    visibility: visible;
  }
}
.sidebar-menu .img-container {
  display: inline-block;
  overflow: hidden;
  width: 3.5rem;
  text-align: center;
  vertical-align: middle;
}
.sidebar-menu img {
  float: none;
  width: 2rem;
  opacity: 0.6;
}
.sidebar-menu .activities img,
.sidebar-menu .opportunities img {
  width: 1.6rem;
}
.sidebar-menu .tools-page img {
  width: 2.3rem;
}
.sidebar-menu .community img {
  width: 2.8rem;
}
.sidebar-subitems {
  overflow: hidden;
  list-style: none;
}
@media screen and (min-width: 600px) {
  .sidebar-subitems {
    padding-left: 2rem;
  }
}
.sidebar-subitems li {
  margin-bottom: 0.5rem;
  padding-right:10px;
}
.sidebar-subitems li a::before {
  content: "\f105";
  font-family: "FontAwesome";
  display: inline-block;
  margin-right: 0.6rem;
}
.sidebar-subitems a {
  display: inline-block;
  padding: 0;
  color: rgba(255,255,255,.5);
  font-size:1rem;
}
.sidebar-subitems a.current {
  color:white;
}
.sidebar footer {
  font-size:12pt;
  padding: 30px 15px 20px;
  color: rgba(255,255,255,.5);
}

.hero-unit.home-page {
  text-align: center;
  background-color:#CCC;
}


#content {
  padding:0;
  max-width:1400px;
}

#content img {
  max-width:100%;
  border:1px solid #CCC;
}

#content h4 {
  margin-top:1.6em;
}

strong {
  font-weight: bold;
}

blockquote {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  border-left: 0.25rem solid #eceeef;
}

body ul, body ol {
  padding-left: 32px;
}

body.rtl {
	direction: rtl;
}

body.rtl #header .brand {
	float: right;
    margin-left: 5px;
}
body.rtl .row-fluid [class*="span"] {
	float: right !important;
	margin-left: 0;
	margin-right: 2.564102564102564%;
}
body.rtl .row-fluid [class*="span"]:first-child {
	margin-right: 0;
}

body.rtl ul, body.rtl ol {
    margin: 0 25px 10px 0;
}

table {
  margin-bottom: 1rem;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}

td, th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}

.btn {
    background: #4383bf;
    box-shadow: 0 2px 0 #2e5c87;
    color: #fff;
    transition: background 0.2s ease-in-out;
}

.btn {
    padding: 0.85rem 4rem 0.7rem 4rem;
    margin-top: 1rem;
    line-height: 2rem;
}

.btn:hover {
    background: #2e5c87;
    color: #fff;
}
