.hero-unit h1 {
  font-size: 3.5rem;
}
ol.toc { list-style-type: none; }

h3 {
  color: #4383bf;
  font-weight: 200;
}

 a, a:link {
  color:#299b7d;
}

a:hover {
  color:#10503F;
}

.details time, .details edit {
  margin-bottom: 3px;
  display: block;
}

time {
  color: #2581B7;
}

.details time:before {
  content: "\f017";
  font-family: FontAwesome;
  margin-right: 6px;
}

.video-player:before{
  content: "\f16a";
  font-family: FontAwesome;
}

.assignment:before{
  content: "\f044";
  font-family: FontAwesome;
  margin-right: 4px;
}

edit:before {
  content: "\f040";
  font-family: FontAwesome;
  margin-right: 6px;
}

#markdown-toc {
  border-top:1px solid #CDCDCD;
  border-bottom:1px solid #CDCDCD;
  padding-top: 15px;
}

#markdown-toc:before {
  content: "Table of Contents";
  margin-left: -32px;
  font-size:18pt;
}

pre, code, pre code {
    border: none;
    border-radius: 0;
    background-color: #f9f9f9;
    font-size: 0.85em;
}

pre {
    font-size: 1em;
}

code {
    color: inherit;
}

.sidebar {
    background-color: #4383bf;
    position: relative;
    height: auto;
    color: #fff;
    font-size: 1.4rem;
    padding: 0;
}

.sidebar-header .moz-logo {
    width: 100%;
    max-width:130px;
}

html.no-js .sidebar .collapsible-content {
  /* The links in the sidebar are crucial to navigating the site.
     * If JS is disabled, we want the links visible at all costs. */
  opacity: 1 !important;
  max-height: none !important;
}
.sidebar {
  position: relative;
  height: auto;
  color: #fff;
  font-size: 1.4rem;
  padding: 0;
}
.sidebar a {
  font-size: inherit;
  color: inherit;
  line-height: 1;
}
.sidebar .collapsible-content {
  transition: all 0.5s ease;
  opacity: 1;
  max-height: 1400px;
  padding-bottom: 1rem;
}
.sidebar .collapsible-content.collapsed {
  opacity: 0;
  max-height: 0;
  padding-bottom: 0;
}
.lesson-content {
  padding:1rem;
}
@media screen and (min-width: 992px) {
  .sidebar {
    height: 100%;
    transition: background-color 5ms;
  }
  .sidebar .collapsible-content.collapsed {
    opacity: 1;
    max-height: auto;
  }
}
.sidebar-header {
  position: relative;
  font-size: 2rem;
  /*color: #595a5e;*/
  padding: 1rem 20px;
  overflow: hidden;
}
@media screen and (min-width: 992px) {
  .sidebar-header {
    background-color: rgba(255, 255, 255, 0.3);
  }
}
.sidebar-header a:hover,
.sidebar-header a:focus {
  text-decoration: none;
}`
.sidebar-header .moz-logo {
  width: 100%;
  max-width: 100px;
}
.sidebar-header .glyphicon-menu-hamburger {
  position: absolute;
  right: 1rem;
  top: 2.5rem;
  color: #fff;
  border: none;
  background: transparent;
  padding: 0;
}
.sidebar-header .glyphicon-menu-hamburger:focus {
  color: #e6e6e6;
}
.sidebar-menu {
  padding-bottom: 0;
  margin-bottom: 0;
}
.sidebar-menu a {
  position: relative;
  display: block;
  padding: 2;
  outline: none;
}
.sidebar-menu>li>a:hover,
.sidebar-menu>li>a:focus {
  background-color: #406e99;
  transition: background-color 3ms;
}
.sidebar-menu a:hover,
.sidebar-menu a:focus {
  text-decoration: none;
}
.sidebar-menu li.selected {
    background-color: #2e5c87;
}
.sidebar-menu strong {
  display: inline;
  font-weight: 700;
  text-transform: uppercase;
  vertical-align: middle;
  margin-left: 1rem;
}
.sidebar-menu .external-link:after {
  color: rgba(255, 255, 255, 0.5);
}
.sidebar-menu .glyphicon {
  position: absolute;
  right: 1rem;
  font-size: 1.5rem;
  top: calc(41.5%);
  color: #cd00cc;
  transition: color 3ms;
  visibility: hidden;
}
.sidebar-menu li {
  margin:0;
  padding: 0;
}
.sidebar-menu>li>a{
  padding: 15px 20px;
}
@media screen and (min-width: 1200px) {
  .sidebar-menu .glyphicon {
    right: 1.5rem;
  }
}
@media screen and (min-width: 992px) {
  .sidebar-menu .glyphicon {
    visibility: visible;
  }
}
.sidebar-menu .img-container {
  display: inline-block;
  overflow: hidden;
  width: 3.5rem;
  text-align: center;
  vertical-align: middle;
}
.sidebar-menu img {
  float: none;
  width: 2rem;
  opacity: 0.6;
}
.sidebar-menu .activities img,
.sidebar-menu .opportunities img {
  width: 1.6rem;
}
.sidebar-menu .tools-page img {
  width: 2.3rem;
}
.sidebar-menu .community img {
  width: 2.8rem;
}
.sidebar-subitems {
  overflow: hidden;
  list-style: none;
}
@media screen and (min-width: 992px) {
  .sidebar-subitems {
    padding-left: 2rem;
  }
}
.sidebar-subitems li {
  margin-bottom: 0.5rem;
  padding-right:10px;
}
.sidebar-subitems li a::before {
  content: "\f105";
  font-family: "FontAwesome";
  display: inline-block;
  margin-right: 0.6rem;
}
.sidebar-subitems a {
  display: inline-block;
  padding: 0;
  color: rgba(255,255,255,.5);
  font-size:1rem;
}
.sidebar-subitems a.current {
  color:white;
}
.sidebar footer {
  font-size:12pt;
  padding: 20px;
  color: rgba(255,255,255,.5);
}

.hero-unit.home-page {
  text-align: center;
  background-color:#CCC;
}


#content {
  padding:0;
  max-width:1400px;
}

#content img {
  max-width:100%;
  border:1px solid #CCC;
}

#content h4 {
  margin-top:1.6em;
}

strong {
  font-weight: bold;
}

blockquote {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  border-left: 0.25rem solid rgba(67, 131, 191, 0.3);
}

body ul, body ol {
  padding-left: 32px;
}

body.rtl {
	direction: rtl;
}

body.rtl #header .brand {
	float: right;
    margin-left: 5px;
}
body.rtl .row-fluid [class*="span"] {
	float: right !important;
	margin-left: 0;
	margin-right: 2.564102564102564%;
}
body.rtl .row-fluid [class*="span"]:first-child {
	margin-right: 0;
}

body.rtl ul, body.rtl ol {
    margin: 0 25px 10px 0;
}

table {
  margin-bottom: 1rem;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}

td, th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}

a.btn {
    background: #16afe5;
    box-shadow: 0 2px 0 #0f7a9f;
    color: #fff;
    transition: background 0.2s ease-in-out;
    white-space:normal;
}

.btn {
    padding: 0.85rem 4rem 0.7rem 4rem;
    margin-top: 1rem;
    line-height: 2rem;
}

.btn:hover {
    background: #0f7a9f;
    color: #fff;
}




/* PASSING */

@-webkit-keyframes passing {
  0% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }

  50% {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0.8;
  }

  100% {
    -webkit-transform: translateX(250%);
    -ms-transform: translateX(250%);
    transform: translateX(250%);
    opacity: 0;
  }
}

@keyframes passing {
  0% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }

  50% {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0.8;
  }

  100% {
    -webkit-transform: translateX(250%);
    -ms-transform: translateX(250%);
    transform: translateX(250%);
    opacity: 0;
  }
}

.btn-next:hover > i {
  -webkit-animation: passing 100ms linear;
  animation: passing 100ms linear;
}

.btn-next:hover > i {
  opacity:0;
}


footer {
  margin-top: 1rem;
}
.mofooter {
  background: #4d4f53;
  color: #fff;
  text-align: center;
  padding: 2.8125rem 0.625rem;
}
.mofooter .icon-container {
  margin: 1.25rem 0;
}
.mofooter .icon-container .icon {
  cursor: pointer;
  display: inline-block;
  font-weight: 300;
  font-size: 1rem;
}
.mofooter .icon-container .icon img {
  width: 1.25rem;
}
.mofooter .icon-container .icon .footer-icon {
  opacity: 0.5;
}
.mofooter .icon-container .icon a {
  color: #fff;
  opacity: 0.5;
  text-decoration: none;
}
.mofooter .icon-container .icon:hover a,
.mofooter .icon-container .icon:hover .footer-icon {
  -webkit-transition: opacity 0.15s ease-out;
  transition: opacity 0.15s ease-out;
  opacity: 1;
}
.mofooter .footer-content {
  max-width: 35.625rem;
  margin: 0 auto;
}
.mofooter .footer-content p {
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.5rem;
  margin: 0;
}
.mofooter .footer-content p a {
  color: rgba(255, 255, 255, 0.8);
  line-height: inherit;
}
.mofooter .footer-content p a:hover {
  color: white;
}
.mofooter .icons {
  margin-bottom: 1.25rem;
}
.mofooter .logo {
  margin-bottom: 1.25rem;
  padding-bottom: 1.25rem;
  border-bottom: 0.0625rem solid #666;
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .mofooter .logo {
    border-bottom: 0;
    border-right: 0.0625rem solid #666;
    padding-bottom: 0;
    padding-right: 1.25rem;
    margin-bottom: 0;
    margin-right: 1.25rem;
  }
  .lesson-content {
    padding:3.5rem;
  }
  .hero-unit h1 {
    font-size: 4.5rem;
  }
}
@media screen and (max-width: 768px) {
  .mofooter .icon-container:first-child {
    margin-top: 0;
  }
  .mofooter .icon-container:last-child {
    margin-bottom: 2.8125rem;
  }
  .mofooter .icon-container .footer-icon {
    display: block;
    margin: 0.375rem auto 0.375rem;
  }
}
@media screen and (min-width: 768px) {
  .mofooter .footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .mofooter .footer-content .footer-icon {
    margin-left: 0.625rem;
  }
  .mofooter .footer-content p {
    text-align: left;
    width: calc(89.625%);
  }
  .mofooter .icon-container {
    display: inline-block;
    margin: 0 1.125rem;
  }
  .mofooter .icon-container .icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .mofooter .icon-container .icon .footer-icon {
    margin: 0 0.625rem 0 0;
    display: inline-block;
  }
}

footer.col-sm-12 {
  padding:0;
}