<footer class="col-sm-12">
    <div class="mofooter">
      <div class="icons">
        <div class="icon-container">
          <div class="icon"><img class="footer-icon" src="{{ site.baseurl }}/img/footer-icon-twitter.svg"><a target="_blank" href="{{ site.twitter }}">Twitter</a></div>
        </div>
        <div class="icon-container">
          <div class="icon"><img class="footer-icon" src="{{ site.baseurl }}/img/footer-icon-irc.svg"><a target="_blank" href="{{ site.chat }}">Chat</a></div>
        </div>
        <div class="icon-container">
          <div class="icon"><img class="footer-icon" src="{{ site.baseurl }}/img/footer-icon-email.svg"><a target="_blank" href="mailto:{{ site.email }}">Email</a></div>
        </div>
        <div class="icon-container">
          <div class="icon"><img class="footer-icon" src="{{ site.baseurl }}/img/footer-icon-github.svg"><a target="_blank" href="https://github.com/{{ site.github.repo }}">Github</a></div>
        </div>
        <div class="icon-container">
          <div class="icon"><img class="footer-icon" src="{{ site.baseurl }}/img/footer-icon-terms.svg"><a target="_blank" href="https://www.mozilla.org/en-US/about/legal/">Legal</a></div>
        </div>
        <div class="icon-container">
          <div class="icon"><img class="footer-icon" src="{{ site.baseurl }}/img/cc-logo.svg"><a target="_blank" href="https://creativecommons.org/licenses/by/4.0/">License</a></div>
        </div>
        <div class="icon-container">
          <div class="icon"><img class="footer-icon" src="{{ site.baseurl }}/img/footer-icon-conduct.svg"><a target="_blank" href="https://www.mozilla.org/en-US/about/governance/policies/participation/">Participation Guidelines</a></div>
        </div>
      </div>
      <div class="footer-content"><a class="logo" href="https://mozilla.org"><img src="{{ site.baseurl }}/img/ohm-logo.svg" width="70" height="70"></a>
        <p>Mentoring & Training Program on Open Hardware inspired by Mozilla Open Leaders. Making openhardware the default everywhere, one project at a time. Visit us at <a href="https://openhardware.space" target="_blank">Open Hardware Space</a></p>
      </div>
    </div>
  </footer>
