---
layout: default
---

<div class="page-header">
    <h2>{{ page.title }}
        {% if page.subtitle %}<small>{{ page.subtitle }}</small>{% endif %}
    </h2>
</div>
<div class="details">
  <div class="row p-y-1">
  {% if page.summary %}
    <div class="col-sm-8">
    <blockquote>
      <i>{{ page.summary }}</i>
    </blockquote>
    </div>
  {% endif %}
    <div class="col-sm-4">
      <p>
  {% if page.time %}
    <time>{{page.time}}</time>
  {% endif %}
    <a href="https://github.com/{{ site.github.repo }}/edit/{{ site.github.branch }}/{{ page.path }}"><edit>Suggest changes</edit></a>
    </p>
    </div>
  </div>
  <div class="row p-y-1">
    <div class="col-sm-4">
      {% if page.format %}
      <h5>Format</h5>
      {{ page.format | markdownify }}
      {% endif %}
    </div>
    <div class="col-sm-4">
      {% if page.prereq %}
      <h5>Prerequisites</h5>
      {{ page.prereq | markdownify }}
      {% endif %}
    </div>
    <div class="col-sm-4">
      {% if page.materials %}
      <h5>Materials</h5>
      {{ page.materials | markdownify }}
      {% endif %}
    </div>
  </div>
</div>
{{ content }}

{% if page.contents %}
  <h3>Table of Contents for this section</h3>
  <ol>
{% for path in page.contents %}
  {% assign subpage = site.articles | where: "path", path | first %}
  <li>
    <a href="{{ subpage.url | prepend: site.baseurl }}">{{ subpage.title }}</a>
    {% if subpage.time %}
    ({{ subpage.time }})
    {% endif %}
  </li>
{% endfor %}
  </ol>
{% endif %}

{% if page.following %}
 {% assign next = site.articles | where: "path", page.following | first %}
<div class="color-box">
<h4>Read next</h4>
<p><a  href="{{ next.url | prepend: site.baseurl }}">{{ next.title }}</a></p>
</div>
<br />
{% endif %}

 <a class="btn btn-lg btn-default" href="https://github.com/{{ site.github.repo }}/edit/{{ site.github.branch }}/{{ page.path }}">Improve this page</a>
